@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800,900");
header, header .menu, header .more, section.one, section.one .faces, section.one .faces .box, section.one .faces .box .face, section.two .content, section.three, section.three .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .more, section.one .button, section.three .button {
  width: 323px;
  max-width: 70vw;
  height: 98px;
  background-color: #a90000;
  border-radius: 1rem;
  border: 1px solid white;
  padding: 1rem 1.8rem;
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;
  margin: 1rem;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: white;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body, html {
  background-color: #112c4f;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 16px;
  overflow-x: hidden;
}

.scroll {
  border: 1px solid #959595;
  width: 50px;
  height: 80px;
  border-radius: 1rem;
}

.scroll:after {
  content: url("./img/scroll2.png");
  position: relative;
  top: 30px;
}

header {
  background-image: url("./img/wolnosc.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  width: 100%;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header * {
  margin: 0rem;
  padding: 1rem;
  max-width: 90vw;
}

header .menu {
  text-transform: uppercase;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (max-width: 400px) {
  header .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  header .menu .link:nth-of-type(4) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

header .menu div:hover {
  color: #a90000;
  cursor: pointer;
}

header .menu .contact {
  border: 2px solid white;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
}

header .menu .contact:hover {
  border: 2px solid #a90000;
}

header .title {
  font-size: 5.5rem;
  margin-top: 4rem;
  max-width: 800px;
}

@media only screen and (max-width: 400px) {
  header .title {
    font-size: 2rem;
    max-width: 90vw;
  }
}

header .title .red {
  color: #a90000;
  font-weight: bold;
}

header .title img {
  width: 100%;
}

header .more {
  text-transform: uppercase;
  margin: 2rem 0;
}

header .more:hover {
  color: #a90000;
  background-color: white;
  border: 2px solid #a90000;
}

section.one {
  width: 100%;
  min-height: 100vh;
  padding: 5rem 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

section.one * {
  max-width: 90vw;
}

section.one .title .head {
  font-size: 2.3rem;
  font-weight: 800;
  max-width: 90vw;
}

section.one .title .opis {
  max-width: 750px;
  margin: 1rem;
}

section.one .faces {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1500px;
}

section.one .faces .box {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3rem;
}

@media only screen and (max-width: 400px) {
  section.one .faces .box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.one .faces .box .face {
    margin-bottom: 1rem;
  }
}

section.one .faces .box .face {
  width: 177px;
  height: 177px;
  border: 1px solid white;
  border-radius: 1rem;
}

section.one .faces .box .opis {
  max-width: 360px;
  margin-left: 1rem;
}

section.one .faces .box .opis .name, section.one .faces .box .opis .city, section.one .faces .box .opis .text {
  text-align: left;
}

section.one .faces .box .opis .name {
  font-size: 1.2rem;
  color: #a90000;
  font-weight: 900;
}

section.one .faces .box .opis .city {
  font-weight: 900;
  padding-bottom: 2rem;
}

section.one .button {
  background-color: #3c597f;
}

section.one .button:hover {
  background-color: white;
  color: #3c597f;
  border: 1px solid white;
}

section.two {
  background: #3c597f;
}

section.two .triangleup {
  width: 0;
  height: 0;
  position: relative;
  border-style: solid;
  border-width: 200px 100vw 0 0;
  border-color: #112c4f transparent transparent transparent;
  z-index: 1;
}

section.two .triangledown {
  position: relative;
  left: 0px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 100px 100vw;
  border-color: transparent transparent #112c4f transparent;
  z-index: 3;
}

section.two .content {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 1;
  position: relative;
}

@media only screen and (max-width: 1200px) {
  section.two .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

section.two .content .left {
  width: 100vw;
}

section.two .content .left img {
  width: 100%;
  z-index: 2;
}

section.two .content .right {
  margin: 0 3rem;
  padding: 3rem 0;
}

section.two .content .right .name {
  font-size: 3rem;
  font-weight: 800;
}

section.two .content .right .sub {
  font-size: 1.6rem;
}

section.two .content .right .sub .bold {
  font-weight: 800;
}

section.two .content .right .text {
  margin-top: -9rem;
  font-size: 1.6em;
  max-width: 2000px;
  z-index: 2;
}

section.two .content .right .text:before {
  content: open-quote;
  position: relative;
  top: 140px;
  left: 0px;
  font-size: 16rem;
  color: #112c4f;
  font-weight: 800;
}

section.three {
  background-image: url("./img/Logotlo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

section.three::before {
  background: white url("./img/logos.png");
}

section.three .one, section.three .two {
  max-width: 1130px;
  margin: 0 1rem;
}

section.three .one .title, section.three .two .title {
  font-size: 3rem;
  font-weight: 800;
}

section.three .one .title .red, section.three .two .title .red {
  color: #a90000;
}

section.three .one .cont, section.three .two .cont {
  font-size: 1.1em;
  padding: 1rem;
}

section.three .button {
  background-color: #3c597f;
}

section.three .button:hover {
  background-color: white;
  color: #3c597f;
  border: 1px solid white;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-height: 30vh;
  max-width: 1200px;
  border-bottom: 2px solid white;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

footer * {
  max-width: 90vw;
}

footer .blue {
  color: #3c597f;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 1rem;
  margin-left: 2rem;
}

footer .blue, footer .adresy, footer .bottomline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

@media only screen and (max-width: 700px) {
  footer .blue, footer .adresy, footer .bottomline {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .adresy {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .adresy .adres {
  width: 300px;
  margin-bottom: 1rem;
}

footer .adresy .adres > div {
  text-align: left;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 700px) {
  footer .adresy .adres > div {
    text-align: center;
  }
}

footer .bottomline div {
  margin-top: 1rem;
}

footer .bottomline .social {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

footer .bottomline .copy {
  -ms-flex-item-align: end;
      align-self: flex-end;
  line-height: 4;
}

footer .bottomline .follow {
  line-height: 4;
}

footer .bottomline .logo {
  line-height: 3;
}
/*# sourceMappingURL=style.css.map */